.buy-data{
    display: grid;
    grid-template-columns: 70% 30%;
}

.fields{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 30% 30% 30% 30%;
    gap: 2%;
    grid-column: 1;
}

.height-60{
    height: 59px;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.payment-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.padding-10{
    padding: 10px;
}

.pay-card{
    width: 40%;
}

.buy-main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.userForm{
    width: 70%;
}

.field{
    margin: 10px 40px;
}

.name{
    grid-row: 1;
    grid-column: 1;
}

.surname{
    grid-row: 1;
    grid-column: 2;
}

.email{
    grid-row: 2;
    grid-column: 1;
}

.dni{
    grid-row: 2;
    grid-column: 2;
}

.conf-email{
    grid-row: 3;
    grid-column: 1;
}

.card{
    grid-row: 3;
    grid-column: 2;
}

.total{
    font-size: 2rem;
    font-weight: bold;
}

.label{
    font-size: 1em;
}

.section-title{
    padding-left: 14px;
    font-size: 1.5em;
}

.accept-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}