.item{
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 0 20px 0 0;
    margin-bottom: 5%;
    width: 96%;
}

.itemCardname{
    color: var(--azul);
    font-size: 2rem;
    font-weight: bold;
}

.descrip{
    grid-row: 1;
    grid-column: 1;
    margin-top: 10px;
}

.count{
    display: inline-block;
    grid-row: 1;
    grid-column: 2;
    margin-right: 20px;
}

.content{
    display: flex;
    width: 100%;
}

.numberCircle {
    display:inline-block;
    line-height:0px;
    border-radius:50%;
    border:6px solid var(--azul);
    font-size:32px;
    background-color: var(--azul);
    margin:0 3px 3px 3px;
    text-align: right;

}

.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
    color: var(--blanco);
    text-align: right;
    margin-top: 0;
}

.number-price{
    font-size: 2rem;
    font-weight: bold;
}

.price{
    display: inline-block;
}

.delete{
    color: var(--rojo)
}

.edit{
    color: var(--azul)
}

.iconsItemCart{
    display: flex;
}

.cardMediaContainer{
    position: relative;
    right: 0;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: start;
    width: 200px;
    height: 200px;
}    
.itemCardData{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    user-select: none;
}

.itemCardPrice{
    padding-right: 2%;
}

.deleteItem{
    position: absolute;
    top: 0;
    right: 0;
}