.header{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    flex-wrap: nowrap;
}

.title{
    font-size: 3rem;
    min-width: 450px;
    color: var(--blanco);
    font-family: Audiowide;
    text-shadow: 7px 7px black;
    margin-left: 20px;
    margin-right: 0;
    flex-grow: 1;
}

.title:hover{
    cursor: pointer;
}

.nav-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.user-options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex-grow: 2;
    align-items: flex-end;
    margin-right: 10px;
}

ul{
    display: flex;
    padding: 0;
    margin: 0 0 0.5rem;
    font-size: 1.1em;
}

ul li {
    margin: 0 0.5rem;
    display: flex;
    color: var(--blanco);
}

