.header{
    background-color: var(--azul);
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
}

.title{
    position: relative;
    padding: 0;
    margin: 0;
    top:20%;
    left: 10%;
    font-size: 3em;
    color: var(--blanco);
    font-family: Audiowide;
    text-shadow: 7px 7px black;
}

.inputs{
    background-color: var(--azul);
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

ul{
    font-size: 1.1em;
    padding: 0;
    margin: 0 4rem 0 0;
    display: inline-block;
    float: right;
}

ul li {
    margin: 0 0.5rem;
    display: block;
    position: relative;
    float: left;
    text-align: center;
    color: var(--blanco);
}
