.info-purchase{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 15px;
    text-align: left;
}
.info-purchase-form{
    padding: 10px;
}

.close-purchase{
    position: absolute;
    top: 0;
    right: 10px;
}