.main{
    background-color: white;
    border-radius: 10px;
    height: 130px;
    padding: 10px;
}

.search-purchase{
    justify-content: space-between;
    display: flex;
    
}

.labelerror{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}