.article{
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 600px;
}

.images{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mainimage{
    height: 600px;
    width: 600px;
    flex-grow: 2;
}

.detailArticle{
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 1;
}

.image{
    height: 80px;
    width: 80px;
}

.selectedImage{
    height: 80px;
    width: 80px;
    border: 4px solid red;
}

ul{
    float: left;
}

.articleName{
    font-size: 3rem;
}

.price{
    display: flex;
    align-items: center;
}

h2{
    margin-right: 1rem;
    font-size: 2rem;
}

p{
    margin-right: 1rem;
}
