.articles{
    /*display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.title-not-found{
    color: var(--blanco);
    font-size: 2em;
    margin: 0 0 5% 0;
    text-align: center;
}