.heading{
    font-size: 1em;
    font-weight: bold;
}
.heading:hover{
    color: black;
 }

 .usernav{
     display: flex;
     align-items: center;
 }

 li {
    margin: 0 0.5rem;
    display: flex;
    color: var(--blanco);
}

li:hover{
    cursor: pointer;
}
