.selected-heading,.unselected-heading{
    font-size: 1em;
    font-weight: bold;
    position: relative;
}

.selected-heading:after{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: var(--blanco);
    border-radius: 1px;
    right: 0;
    left: 0;
}

.unselected-heading::after{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: var(--blanco);
    border-radius: 1px;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.18s linear;
}

.unselected-heading:hover::after{
    transform: scaleX(1);
 }

 .usernav{
     display: flex;
     align-items: center;
 }

 li {
    margin: 0 0.5rem;
    display: flex;
    color: var(--blanco);
}

li:hover{
    cursor: pointer;
}
