ul li a{
    color: var(--blanco);
    background-color: var(--azul);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: #303f9f;
}

a:active {
    text-decoration: none;
}
