.main{
    display: grid;
    grid-template-columns: 50% 50%;
}

.back-button{
    display: flex;
    justify-content: flex-start;
    grid-column: 1;
}

.next-button{
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
}