.main-view{
    padding: 7% 2% 3% 5%;
    min-height: 300px;
}

.subtitle{
    color: var(--blanco);
    font-size: 2em;
    text-align: center;
}

.head{
    display: grid;
    grid-template-columns: 70% 30%;
    color: var(--blanco);
}

.right-content{
    grid-column: 2;
    font-size: 2rem;
    text-align: right;
}

.important-data{
    color: var(--verde);
    font-weight: bold;
}

.error-item{
    color: var(--rojo);
    font-size: 1.5rem;
    font-weight: bold;
}

.submit-button{
    color: #64dd17;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.default-background{
    min-height: 100%;
}


.blue-background{
    background-color: var(--azul);
}

.main-container{
    min-height:100%;
    position:relative;
    margin: 0;
}

#body{
    margin:0;
    padding:0;
    padding-bottom: 15%;
    background-color:#00001a
}

.foot{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    /* Height of the footer */
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.label-section{
    color: #9e9e9e;
}

.left-align{
    display: flex;
    justify-content: left;
}

.right-align{
    display: flex;
    justify-content: flex-end;
}

.space-between{
    display: flex;
    justify-content: space-between;
}