.widgetOptions {
    position: fixed;
    height: 100vh;
    width: 50%;
    bottom: 0;
    background: var(--blanco);
    z-index: 2;
    box-shadow: -0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
    transition: left 0.5s;
}

.items-cart-widget{
    overflow-y: scroll;
    height: 67vh;
}

.close {
    left: -50%;
}

.open {
    left: 0;
}